body {
    cursor: none;
    width: 1920px;
    height: 1080px;
    background: black;
}

#mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    background: url("img/mask.png") repeat;
    display: none;
}

#gab {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    background: url("img/gab.png") repeat;
    display: none;
}

.mainVid {
    background-color: black !important;
    /* or whatever you want */
    position: absolute;
    top: 0;
    left: 475px;
}

#gabSquare {
    background: url("img/gabSquare.png") repeat;
    position: absolute;
    top: 0;
    left: 475px;
    width: 1080px;
    height: 1080px;
    display: none;
}

#maskSquare {
    background: url("img/maskP.png") repeat;
    position: absolute;
    top: 0;
    left: -15px;
    width: 1920px;
    height: 1080px;
    display: block;
}

#debug {
    position: absolute;
    padding: 20px;
    top: 100px;
    left: 100px;
    line-height: 20px;
    font-family: courier;
    background: lightgrey;
    display: none;
}

#debug {
    position: absolute;
    padding: 20px;
    top: 100px;
    right: 100px;
    line-height: 20px;
    background: lightgrey;
    display: none;
}


#eventDebug {
    position: absolute;
    top: 100px;
    left: 100px;
    line-height: 20px;
    display: block;
}
#eventDebug input{
  font-size: 12px;
width : 93px;
display: block;
margin-top: 2px;
}

#eventDebug button {
font-size: 12px;
width : 100px;
display: block;

}